!! Corey Stephan .Xresources !!
!! Based on the .Xresources files of Manjaro i3 & linuxdabbler (github.com/linuxdabbler) !!

!! Basic X Settings !!
!! For HiDPI displays, dpi should be increased, starting w/120 or 130 !!
Xft.dpi:			90
Xft.antialias:			true
Xft.hinting:			true
Xft.rgba:			rgb
Xft.autohint:			false
Xft.hintstyle:			hintfull
Xft.lcdfilter:			lcddefault
*background:			#000000
*foreground:			#FFFFFF

!! xterm Settings !!
xterm*faceName:			Hack
xterm*faceSize:			12
xterm*selectToClipboard:	true

!! urxvt Settings !!
URxvt.scrollBar:		false
URxvt.font:			xft:Hack:style=Medium:size=12, \
				xft:Monospace:style=Medium:size=12			
URxvt.boldfont:			xft:Hack:style=Bold:size=12, \
				xft:Monospace:style=Bold:size=12
URxvt.background:		black
URxvt.foreground:		white
URxvt.saveLines:		5000

!!  One Dark !!
! special
*.foreground:   #ABB2BF
*.background:   #282C34
*.cursorColor:  #ABB2BF


!xterm*charClass:        33:48,35-38:48,39:43,42-47:48,58-59:48,61:48,63-64:48,126:48
!xterm*dynamicColors:    true


! Blacks
*color0:           #151515
*color8:           #505450
! Reds
*color1:           #a60101
*color9:           #f99090
! Greens
*color2:           #026802
*color10:          #a7e14b
! Yellows
*color3:           #ab6e03
*color11:          #fddc01
! Blues
*color4:           #4a5463
*color12:          #7d8794
! Purples
*color5:           #9c3885
*color13:          #e628ba
! Cyans
*color6:           #08bab0
*color14:          #74fff7
! Whites
*color7:           #bbbbbb
*color15:          #ffffff


!! URXVT Font Size !!

URxvt.perl-ext-common: ...,font-size

URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-equal:  font-size:reset
URxvt.keysym.C-slash:  font-size:show
