!! Corey Stephan .Xresources !!
!! Based on the .Xresources files of Manjaro i3 & linuxdabbler (github.com/linuxdabbler) !!

!! Basic X Settings !!
!! For HiDPI displays, dpi should be increased, starting w/120 or 130 !!
Xft.dpi:			90
Xft.antialias:			true
Xft.hinting:			true
Xft.rgba:			rgb
Xft.autohint:			false
Xft.hintstyle:			hintfull
Xft.lcdfilter:			lcddefault
*background:			#000000
*foreground:			#FFFFFF

!! xterm Settings !!
xterm*faceName:			Hack
xterm*faceSize:			11
xterm*selectToClipboard:	true

!! urxvt Settings !!
URxvt.scrollBar:		false
URxvt.font:			xft:Hack:style=Medium:size=11, \
				xft:Monospace:style=Medium:size=12			
URxvt.boldfont:			xft:Hack:style=Bold:size=11, \
				xft:Monospace:style=Bold:size=12
URxvt.background:		black
URxvt.foreground:		white
URxvt.saveLines:		5000

!!  Molokai theme - Corey's Edits !!
! URxvt.background: #101010
! URxvt.foreground: #d0d0d0
*.color0: #101010
*.color1: #7851a9
*.color2: #66aa11
*.color3: #c47f2c
*.color4: #7851a9
*.color5: #7e40a5
*.color6: #7851a9
*.color7: #9999aa
*.color8: #303030
*.color9: #7851a9
*.color10: #80ff00
*.color11: #ffba68
*.color12: #7851a9
*.color13: #7851a9
*.color14: #7851a9
*.color15: #d0d0d0

!! Molokai theme - Original !!
! *.color0: #101010
! *.color1: #3579a8 ! #960050
! *.color2: #66aa11
! *.color3: #c47f2c
! *.color4: #7851a9 ! #30309b
! *.color5: #7e40a5
! *.color6: #7851a9 ! #3579a8
! *.color7: #9999aa
! *.color8: #303030
! *.color9: #3579a8 ! #ff0090
! *.color10: #80ff00
! *.color11: #ffba68
! *.color12: #800080 ! #5f5fee
! *.color13: #b266b2 ! #bb88dd
! *.color14: #3579a8 ! #4eb4fa
! *.color15: #d0d0d0

